@import url(https://fonts.googleapis.com/css?family=Nosifer);

html,body {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+24,1+24,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
	margin: 0;
    padding: 0;
}

#dottedLine {
	border: 3px dashed white;
	position: relative;
	width: 100%;
	margin-top: 0;
}

/* BOOTSTRAP MADNESS */
div.special {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	padding:0;
}
div.specialrow {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	padding:0;
	margin:0;
}
div.lawns{
	margin: 0;
    padding: 0;
	min-height: 50%;

}
div.topBar{
	border: 1px solid;
	max-width: 50%;
	min-height: 5%;
    background-color: #333;
	color: white;
	font: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 0;
}
div.pauseButton{
	background-color:#f20000;
}
div.queue{
	background-color:#333; 
	border: 1px solid #FFF; 
	min-height: 10%;
	padding: 0;
}
div.currentQueue{
	background-color:#f20000; 
	border: 1px solid #FFF; 
	min-height: 10%;
	padding: 0; 
}
div.insideQueue{
	position: absolute;
	height: 100%;
	width: 100%;

	color: white;
	font: Arial, Helvetica, sans-serif;
	font-size: 2.0em;
	text-align: center;
	vertical-align: middle;
	top: 25%;
	left: 0;
}
div.gunsBar{
	min-height: 3%;
	padding:0;
}
div.guns{
	border: 1px solid #FFF;
	background-color: #f20000;
}
div.guns.clicked{
	border: 1px solid #FFF;
	background-color: #CCC;
}
div.bulletImage{
	min-height: 100%;
	min-width: 100%;
}
div.youDiedTitle{
	width: 100%;
	min-height: 20%;
	color: red;
	font-family: 'Nosifer', cursive;
	font-size: 6.0em;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
div.scoreDisplay{
	min-height: 35%;
}
div.buttonHolder{
	min-height: 15%;
}
.btn.sharp {
	border-radius:0;
	background: red;
	border: solid black;
	color: black;
	width: 100%;
	font: Arial, Helvetica, sans-serif;
	font-size: 3.0em;

}
@media only screen and (min-width : 1200px){
	div.container{
		max-height: 100%;
		min-width: 100%;
		border: none;
	}
}
@media only screen and (max-width : 992px) {
	div.container{
		max-width: 50%;
	}
	div.lawns{
		margin: 0;
		padding: 0;
		min-height: 65%;
		height:65%;
	}
	div.topBar{
		font-size: 1.8em;
	}
	div.youDiedTitle{
		font-size: 4.5em;
	}
	.btn.sharp {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 768px) {
	div.container{
		max-width: 100%;
		min-height: 100%;
	}
	div.lawns{
		margin: 0;
		padding: 0;
		height: 64%;
		min-height: 64%;
	}
	div.topBar{
		font-size: 1.3em;
	}
	div.youDiedTitle{
		font-size: 4.5em;
	}
	.btn.sharp {
		font-size: 2.0em;
	}
}