@import url(https://fonts.googleapis.com/css?family=Nosifer);

html,body {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+24,1+24,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%), url("../images/DarkGrass.png"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
	margin: 0;
    padding: 0;
	overflow: hidden;
}

#dottedLine {
	border: 3px dashed white;
	position: relative;
	width: 100%;
	margin-top: 0;
	padding:0;
	margin-bottom: 0;
}

/* BOOTSTRAP MADNESS */
/** Outer container that holds all divs and elements*/
div.special {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	padding:0;
}
div.specialrow {
	min-height: 100%;
	max-height: 100%;
	height:100%;
	padding:0;
	margin:0;
}
/** Setting playable space in the game screen to 65% of screen size.*/
div.lawns{
	margin: 0;
    padding: 0;
	min-height: 65%;
	height:65%;
	max-height: 65%;
}
/** Top bar of game screen containing the pause, wave #, and score.*/
div.topBar{
	border: 1px solid;
	max-width: 50%;
	min-height: 5%; /** might need to change this*/
    background-color: #333;
	color: white;
	font: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	z-index: 2;
}
/** Making the pause button red.*/
div.pauseButton{
	background-color:#f20000;
	z-index: 2;
}
/** Setting the image of the bullet queue to a bullet image to fir container.*/
div.queue{
	background: url("../images/bulletv2.png");
	background-size: 100% 100%;
	border: 1px solid #FFF; 
	min-height: 10%;
	padding: 0;
	z-index: 2;
}
/** Setting the image of the current bullet in the bullet queue to a different background color.*/
div.currentQueue{
	background: url("../images/bullet.png");
	background-size: 100% 100%;
	background-color:#f20000; 
	border: 1px solid #FFF; 
	min-height: 10%;
	padding: 0; 
	z-index: 2; 
}
/** Centering the bullet queue value in the current queue to a larger font size and centering it.*/
div.thisQueue{
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	font: Arial, Helvetica, sans-serif;
	font-size: 4.0em;
	padding-right: 20%;
	z-index: 2;
	
	/** Making contents inside div centered*/
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
}
/** Centering the bullet queue value in the rest of the queue to a smaller font size and centering it.*/
div.insideQueue{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	
	/** Making contents inside div centered*/
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;

	background: none;
	color: white;
	font: Arial, Helvetica, sans-serif;
	font-size: 2.0em;

	padding-right: 20%;
}
/** Setting the height of the gun bar to only 20% of screen size.*/
div.gunsBar{
	min-height: 20%;
	max-height: 20%;
	height: 20%;
	padding:0;
	z-index: 2;
}
/** Setting the background color of each gun to red. */
div.guns{
	border: 1px solid #FFF;
	background-color: #f20000;
	height: 100%;
}
/** Setting the background color of the selected gun to grey. */
div.guns.clicked{
	border: 1px solid #FFF;
	background-color: #CCC;
}
/** Setting the background image of the plus gun.*/
div.plus{
	height:100%;
	width: 100%;
	background: url("../images/guns/plusGun.png");
	background-size: 100% 100%;
	padding: 0;
}
/** Setting the background image of the minus gun.*/
div.minus{
	height:100%;
	width: 100%;
	background: url("../images/guns/subGun.png");
	background-size: 100% 100%;
	padding: 0;
}
/** Setting the background image of the multiply gun.*/
div.multiply{
	height:100%;
	width: 100%;
	background: url("../images/guns/multiGun.png");
	background-size: 100% 100%;
	padding: 0;
}
/** Setting the background image of the divide gun.*/
div.divide{
	height:100%;
	width: 100%;
	background: url("../images/guns/diviGun.png");
	background-size: 100% 100%;
	padding: 0;
}
/** Setting the font-size, font-family, and color of the game over text in the gameOver screen.*/
div.youDiedTitle{
	width: 100%;
	min-height: 20%;
	color: #f20000;
	font-family: 'Nosifer', cursive;
	font-size: 6.0em;
	text-align: center;
	padding: 0;
}
/** Setting the container size, font properties, and centering text of the wave number in the end of game screen */
div.EOGWavedisplay{
	width: 100%;
	min-height: 15%;
	height: 15%;
	max-height: 15%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
	
	color: white;
	font-size: 3.5em;
	font-family: 'Nosifer', cursive;
	padding: 0;
}
/** Setting the container size, font properties, and centering text of the score in the end of game screen */
div.EOGScoredisplay{
	width: 100%;
	min-height: 15%;
	height: 15%;
	max-height: 15%;
	text-align: center;
	
	color: white;
	font-size: 3.5em;
	font-family: 'Nosifer', cursive;
	padding: 0;
}
/** Setting the text properties of the main menu title and container size to 35% of screen size.*/
div.mainMenu{
	width: 100%;
	min-height: 35%;
	color: red;
	font-family: 'Nosifer', cursive;
	font-size: 5.5em;
	text-align: center;
	padding: 0;
}
/** Setting the text properties of the next wave */
div.nextWave{
	width: 100%;
	min-height: 20%;
	color: red;
	font-family: 'Nosifer', cursive;
	font-size: 5.5em;
	text-align: center;
	padding: 0;
}
/** Sets the game over button container size to 15% of screen size.*/
div.buttonHolder{
	min-height: 15%;
	max-height: 15%;
}
/** Sets the main menu button container size to 15% of screen size.*/
div.menuButtonHolder{
	min-height: 15%;
}
/** General buttons styling.*/
.btn.sharp {
	border-radius:0;
	background: red;
	border: solid black;
	color: black;
	width: 100%;
	font: Arial, Helvetica, sans-serif;
	font-size: 3.0em;
}
/** Ensuring 0 padding of scores div.*/
div.scores{
	padding:0;
}
/** Ensuring no duplicate background in nesting divs.*/
div.insideQueue{
	background: none;
}
/** Setting the space between the game title in the main menu screen and the buttons to 20% of screen size.*/
div.emptySpace{
	min-height: 20%;
}
<!-- modal pause menu stuff -->
#myModal{
	background: black;
	text-align: center;
}
.modal-content{
	background: black;	
}
.modal-title {
	width: 100%;
	min-height: 20%;
	color: red;
	font-family: 'Nosifer', cursive;
	font-size: 6.0em;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.modal-backdrop{	
	/*uncomment this after javascript stops executing*/
    opacity:1.0 !important;
}
<!-- End of modal stuff-->
<!-- Beginning of setting responsive design for different screen sizes -->
@media only screen and (min-width : 1200px){
	div.container{
		max-height: 100%;
		min-width: 100%;
		border: none;
	}
	div.emptySpace{
		min-height: 15%;
	}
}
@media only screen and (max-width : 992px) {
	div.container{
		max-width: 50%;
	}
	div.emptySpace{
		min-height: 30%;
	}
	div.mainMenu{
		min-height: 20%;
		font-size: 4.0em;
	}
	div.topBar{
		font-size: 1.8em;
	}
	div.youDiedTitle{
		font-size: 4.5em;
	}
	div.nextWave{
		font-size: 4.0em;
	}
	.btn.sharp {
		font-size: 2.5em;
	}
	div.thisQueue{
		font-size: 3.5em;
		top: 0%;
		left: 0;
		padding-right: 25%;
	}
	div.EOGWavedisplay{
		font-size: 2.5em;
	}
	div.EOGScoredisplay{
		font-size: 2.5em;
	}
	.modal { 
		position: fixed; 
		top: 20px !important; 
		right: 3%; 
		left: 3%;
		width: auto; 
		margin: 0; 
	}
	.modal-title {
		font-size: 3.5em;
	}
}
@media only screen and (max-width: 768px) {
	div.container{
		max-width: 100%;
		min-height: 100%;
	}
	div.emptySpace{
		min-height: 35%;
	}
	div.topBar{
		font-size: 1.5em;
	}
	div.youDiedTitle{
		font-size: 4.5em;
	}
	div.mainMenu{
		font-size: 3.0em;
	}
	div.nextWave{
	font-size: 4.0em;
	}
	.btn.sharp {
		font-size: 2.0em;
	}
	div.displayPanel{
		font-size: 2.0em;
	}
	div.thisQueue{
		font-size: 3.0em;
		padding-right: 25%;
	}
	div.lawns{
		min-height: 70%;
		max-height: 70%;
		height: 70%;
	}
	div.gunsBar{
		min-height: 15%;
		max-height: 15%;
		height: 15%;
	}
	div.EOGWavedisplay{
		font-size: 2.5em;
	}
	div.EOGScoredisplay{
		font-size: 2.5em;
	}
	.modal { 
		position: fixed; 
		top: 20px !important; 
		right: 3%; 
		left: 3%;
		width: auto; 
		margin: 0; 
	}
	.modal-title {
		font-size: 3.5em;
	}
}
<!-- End of responsive styling -->